body {
    background-image:url(back_login.jpg);
    background-position: top;
    background-size: 1400px;
    background-repeat: no-repeat;
    position: absolute;

}
#plate_login {
    margin-left: 11%;
    margin-top: 150px;
    width: 380px;
    height: 23%;
    background-color: rgb(95, 92, 92);
    font-size: 25px;
    opacity: 0.6;
    padding: 40px;
    color: rgb(228, 220, 220);
}
#username {
    margin-left: 25px;
}
#icon{
    width: 100px;
    border-radius: 50px;
    margin-left: 35%;
    transform: translate(0%,-70%);
}
#titre{
    text-align: center;
    margin-top: -50px;
    color: silver;
}