body {
    margin: 0px;
}
#first-container{
    background: url(picprof.png);
    margin:auto;
    padding: 0.1%;
    background-size: cover;

}

#nomprof a {
    color: rgb(207, 220, 231);
    margin-left: 12%;
    font-size: 2cm;
    font-weight: 900;
    margin-bottom: 8px;
    text-decoration: none;
}
#matiere{
    color: rgb(207, 220, 231);
    margin-left: 12%;
    margin-top:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.55cm;
}

#espace_prof {
    text-align: right;
    margin-bottom: 5px;
    margin-right: 7px;
    font-size: 20px;
    color: rgb(229, 238, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container ul{
    margin:0;
    padding: 0;
}
#menu_element{
    margin-top:-37px;
    margin-left: 130px;
    display: block;
}
.container ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 25px;
    color: cornsilk;
}
.container li {
 
    background-color: darkslategrey;
    padding: 0;
}
.container li a{
    display:block;
    
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding: 5px;
}
#categ{
    font-size: 45px;
    color: rgb(38, 122, 38);
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
    margin-left: 12%;
}
#intro{
    font-size: 28px;
    color: #131212;
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
    margin-left: 12%;
}
.container ul li ul {
    display:none;
    margin-left:-5%;
    background: darkslategray;
    border: 1px solid white;
}
.container ul li:hover ul {
    display:block;
    margin-left: 3px;
}
.container li:hover ul li {
    display: block;
}
.container li:hover ul li a {
    font-size: 20px;
    margin-left: 0;
}
.container li ul{
    position:absolute;
}
.container {
    background-color: darkslategray;
}
#correctic{
    margin-right:15px;
}
#image{
    margin-left: 12%;
    margin-top: auto;
    margin-bottom: auto;
}
#container_principal{
    margin-top: 2px;
    margin-left: 10%;
    margin-right: 10%;
}
#titre {
    font-size: 25px;
    margin-left: 34%;
    margin-top:-50px;
    margin-right: 10%;
}
#guide {
    font-size: 25px;
    margin-top: -5px;
    margin-left: 40%;
}
#menuic {
        transform: translate(0,15%);
    }
@media (max-width: 512px) { 
    #guide {
        font-size: 25px;
        margin-top: -5px;
        margin-left: 40%;
    }
    .image_devoir{
        transform: translate(10px,-10px);
    }
    #image{
        margin-left: 2%;
    }
    #icons {
      width: 20px;
      height: 35px;
      transform: translate(0,7px);
    }
    #titre {
        margin-left: 30%;
        font-size: 17px;
        margin-top: -40px;
    }
    #nomprof a {
        font-size: 1cm;
    }
    #guide {
    font-size: 17px;
    margin-top: -5px;
    margin-left: 20%;
}
    #matiere{
        font-size: 0.5cm;   
    }
    .container ul li {;
     font-size: 17px;
    }
    #menuic {
        transform: translate(0,23%);
    }
    #menu_element{
        margin-left: 105px;
    }
    #categ{
        font-size: 25px;
        margin-left: 12%;
    }
    #intro{
        font-size: 18px;
        margin-left: 12%;
    }
    .container li a{
        font-size: 17px;
        padding: 5px;
    }
    .container ul li ul {
        margin-left:-5%;
    }
    .container ul li:hover ul {
        display:block;
        margin-left: 3px;
    }
    .container li:hover ul li a {
        font-size: 20px;
        margin-left: 0;
    }
    
}